*{
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
}

.container{
    width: 80%;
}


/* landing */
.landing, 
.testimonial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .landing-content{
    height: auto;
    min-height: 400px;
    background: #00C3FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.landing .heading{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.landing .info{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}


/* values */
.value{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url("../media/about/value.png");
}

.value .heading{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
    color: #FFFFFF;
}

.value .two-col{
    display: flex;
}

.value .col1, 
.value .col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value .card {
    height: 320px;
    max-height: 320px;
    border: 0.5px solid #FFFFFF;
    box-shadow: 4px 4px 3px -11px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    flex: 1 1 250px;
    margin: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value .subheading{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.value .info {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}

/* we */
.we, .support {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.we .heading, 
.support .heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #565656;
    margin-bottom: 3rem;
}

.we .content, 
.support .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.separator{
    width: 1px;
    height: auto;
    background-color: #5C5C5C;
}

.we .content1,
.we .content2, 
.support .content1,
.support .content2 {
    text-overflow: clip;
    flex: 1 1 300px;
    max-width: 500px;
    margin: 20px;
    justify-content: space-between;

}

.we .info, 
.support .info {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
    margin-bottom: 4rem;
}

.we .imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#goi, #msme{
    width: 40%;
    height: auto;
}

#startup, #aadhar{
    width: 60%;
    height: auto;
}

.support .content1,
.support .content2 {
    flex: 1 1 200px;
    max-width: 500px;
}

.support .content1,
.support .content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 

#pie  {
    width: 50%;
    height: auto; 
}

#mii, #swatchh {
    width: 60%;
    height: auto;    
}


/* testimonial */
.testimonial {
    position: relative;
    background: linear-gradient(90deg, #00172F 0%, #00172F 100%);
}

.testimonial .desc,
.testimonial .name
{
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.testimonial .test-bottom-img{
    position: absolute;
    bottom: 0;
    width: 30%;
    height: auto;
}

/* partners */
.partners{
    display: flex;
    justify-content: center;
    background: url("../media/about/backg.png"), #000;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.partners .heading{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
    text-align: center;
}

.partners .info{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
}

.customer-logos{
    background: #FFFFFF;
    box-shadow: 4px 4px 3px -11px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    padding: 1rem 2rem;
}
  /* Slider */
  

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* phone */
@media screen and (max-width: 500px) {
    .landing .heading, 
    .value .heading, 
    .partners .heading {
        font-size: 2rem;
        line-height: 3rem;
    }
    
    .landing .info, 
    .value .info, 
    .we .info, 
    .support .info, 
    .partners .info{
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .value .two-col{
        flex-direction: column;
    }

    .value .subheading{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .we .info, 
    .support .info {
        overflow-wrap: break-word;
    }

    .separator{
        width: 100%;
        height: 1px;
    }

    .testimonial{
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .testimonial .test-bottom-img{
        width: 50%;
    }

    .we .content ,
    .support .content {
        justify-content: center;
        align-items: center;
    }
}



/* tablet */
@media screen and (min-width: 500px) and (max-width: 768px) {
    .value .subheading{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .value .info {
        font-size: 0.8rem;
        line-height: 1rem;
    }


    .tablet-sep {
        display: block;
    }

    .separator{
        width: 100%;
        height: 1px;
    }

    .we .content ,
    .support .content {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1700px) {
}